body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;


}

.icon,
.icon_header {
  margin-right: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main ';
  height: 100vh;

}

/*---Header---*/
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  background-color: #fff;
}

.menu-icon {
  display: none;
}

/*---End Header---*/

/*---sidebar---*/
#sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: #33074F;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  background-color: #451D5F;
  box-shadow: 0 6px 0 -3px rgba(0, 0, 0, 0.65);
  align-items: center;
  color: #fff;
  padding: 15px 20px 0px 30px;
  margin-bottom: 30px;

}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {

  margin-top: 15px;
  font-size: 20px;

}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 8px 20px 8px 20px;
  margin: 0px 15px 0px 15px;
  font-size: 18px;
  border-radius: 24px;
  background-color: #451D5F;

}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item >.sidebar-dashboard-link {

  text-decoration: none;
  color: #fff;
}

.icon.list {
  margin-right: 15px;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*need z-index of sidebar higher so charts are not showing 
  over sidebar on small screens*/
  z-index: 12 !important;
}

/*---End sidebar---*/

/*---Home---*/
.main-container {
  /* margin: 10px 0px 10px 10px; */
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.top-welcome-card {
  padding: 5px 0px 20px 20px;
  height: 120px;
  background-color: #fff;

}
.task-table th:nth-child(4),
.task-table td:nth-child(4) {
  width: 100px; /* Fixed width for date */
  height: 75px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "task-list activity-feed"
    "task-list chart";
  gap: 10px;
  margin-top: 40px;
  height: 100%;
}
.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table td {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}
.task-table th:first-child,
.task-table td:first-child {
  width: 5px; /* Adjust width for icon column */
}
.task-table th:nth-child(3),
.task-table td:nth-child(3) {
  width: 100px; /* Fixed width for status */
  text-align: center;
  position: relative;
  
}



.task-list {
  grid-area: task-list;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 8px;

}
/* Mark as done button */
.done-button{
  background: none;
  border: none;
  color:#BC006D ;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}


.Done {
  display: inline-block;
  margin-top: 30px;
  border-radius: 15px;
  color: #219653;
  border: none ;
  background-color: #489a6b2b;
}

.In-Progress {
  display: inline-block;
  margin-top: 30px;
  border-radius: 15px;
  color: #F2C94C;
  border:none;
  background-color: #f2c84c36;
}

/* list bell icon */
.icon-box{
  display: inline-block;
  padding: 5px;
  border: 1px solid #fb0000;
  border-radius: 6px; 
  color: #fff;
  background-color: #f90808; /
}

.activity-feed {
  grid-area: activity-feed;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 8px;
}

.chart {
  display: grid;
  grid-area: chart;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 8px;

}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination li.active a {
  background-color: #ffffff;
  color: #BC006D;
  border: 1px solid #BC006D;
}

.pagination li.disabled a {
  color: #ccc;
  cursor: not-allowed;
}


/*---End Home---*/

/*-----404 page--------*/


.error-404 a {
  text-decoration: none;
  color: #451D5F;
  font-weight: bold;
}

.error-404 a:hover {
  text-decoration: underline;
}

/*-----End-404 page--------*/